html {
    font-size: 10px;
    }
  body{
  font-family:Georgia, serif;
  font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: #D8F3DC;
  }
    .navigation {
      background-color: #95D5B2;
      height: 50px;
      padding: 15px;
      box-sizing: border-box;
  }
  
  
  a {
      margin: 2rem;
      color: #1B4332;   
  }
  a:hover {
    color: #52B788;

  }

  #title {
    text-align: center;
    color:#40916C;
    font-size: 4em;
  }
  img {
      height: 400px;
      width: 335px;
  }
  .target1 {
      display: inline-block;
      float:left;
      margin-left: 100px;
  }
  .target2 {
      display: inline-block;
      height: 400px;
      width: 600px;
  }
  .section {
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
  }
  h2 {
      text-align: center;
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 2.5rem;
      color: #2D6A4F;
  }
  p {
    color: #081C15;
    font-size: 1.6rem;
  }
  